@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR";
}

body{
    font-size: 1rem;
}

a{
    text-decoration: none;
    color: #000;
}

p{
    margin: 0;
    margin-bottom: 1rem;
}

strong{
    font-weight: bolder;
}

button{
    border: 0px;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

#header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;

    transition: all var(--animation-duration) ease-in;
}

body .fixed{
    background-color: white;
    box-shadow: 0 0 5px 0 black;
}


/* 헤더바 */
#header .main_header{
    width: 100%;
    max-width: 71.25rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 4.5rem;
    padding: 1.25rem 1.5rem;
}

#header .main_header .header_logo{
    font-weight: 700;
    font-size: 1.5rem;
    color: hsla(0,0%,100%,.7);
    line-height: 2rem;
    font-family: "Noto Sans KR";
}

#header .main_header #menu{
    display: flex;
    color: #05b2b5;
}

#header #menu .header_menu{
    padding: 0 1rem;
    font-weight: 700;
    color: hsla(0,0%,100%,.7);
    line-height: 2rem;
    font-size: 1rem;
    font-family: "Noto Sans KR";
}

#header .main_header button:hover{
    cursor: pointer;
}

/* 메인 */
#main{
    width: 100%;
    /* height: 600px; */
    position: relative;
}

#main::before{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg,rgba(112,93,80,.8) 0,rgba(112,93,80,.8) 90%), url(../img/main_bg.jpg) 50% no-repeat;
    background-size: cover;
    z-index: -1;
}

#main .content{
    width: 100%;
    max-width: 71.25rem;
    margin: 0 auto;
    padding: 8.5rem 1.5rem 4rem;
    text-align: center;
}

#main .content h1{
    font-size: 3rem;
    color: #fff;
    font-family: "Noto Sans KR";
}

#main .content h2{
    margin-top: 30px;
    font-size: 1.5rem;
    color: lightgray;
    font-family: "Noto Sans KR";
}

/* 소개 */
.about_me{
    width: 100%;
    height: 450px;
}

.about_me .about{
    width: 100%;
    max-width: 71.25rem;
    padding: 4rem 1.5rem;
    margin: 0 auto;
}

.about .about_header{
    position: relative;
    display: table;
    margin: 0 auto 3rem;
}

.about_me .about h1{
    font-family: "Noto Sans KR";
}

.about_me .about .self{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1.5rem;
}

.about_me .about .ab{
    width: 33.3333333333%;
}

.about_me .about .ab:last-child{
    width: 66.6666666666%;
}

.about_me .about .ab .inside{
    display: flex;
    flex-wrap: nowrap;
    column-gap: 2rem;
    width: 100%;
    max-width: 17rem;
    margin: 0 auto;
    opacity: .8;
}

.about_me .about .ab .inside:last-child{
    display: flex;
    flex-wrap: nowrap;
    column-gap: 2rem;
    width: 100%;
    max-width: 100%;
    margin: 0;
    opacity: .8;
}


.about_me .about .ab .inside img{
    width: 45px;
    height: 50px;
    object-fit: contain;
}

.about_me_text{
    margin-bottom: .5rem;
    font-family: "Noto Sans KR";
}

.about_me_user{
    font-family: "Noto Sans KR";
    white-space: pre-wrap;
}


/* 스킬 */
.skill{
    width: 100%;
    height: 400px;
    background-color: orange;
    display: block;
}

.skills{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 0 3rem 0;
}

.skill_header h1{
    font-family: "Noto Sans KR";
    font-size: 3rem;
    font-weight: bold;
    margin-top: -30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #000;
}

.sk_main{
    /* width: 1200px; */
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 30px;
}

.sk_main .sk_inside{
    width: 600px;
    display: flex;
    justify-content: center;
}

.sk_main .sk_inside .sk{
    width: 120px;
    padding: 1rem 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

.sk_main .sk_inside .sk img{
    width: 5dvw;
    height: 100%;
    object-fit: cover;
}

.sk_main .sk_inside .sk:nth-child(n+4) img{
    width: 7dvw;
    object-fit: contain;
}


/* 아카이브 */
.archive{
    width: 100%;
    height: 400px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.arch{
    width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.archive .arch_title{
    width: 800px;
    text-align: center;
    margin-bottom: 1rem;
}

.archive .arch .arch_title h3{
    font-family: "Noto Sans KR";
    font-size: 3rem;
    color: #fff;
}

.archive .arch .archive_link{
    width: 500px;
    height: 200px;
    background-color: #fff;
    padding: 2rem;
    flex-wrap: wrap;
    border-radius: 1rem;
    transition: all 0.2s linear;
}

.archive .arch .archive_link:hover{
    transform: scale(1.1);
}

.archive .arch .archive_link .github{
    width: 80%;
    height: 60px;
    display: flex;
    margin-bottom: 1rem;
}

.archive .arch .archive_link .github img{
    height: 100%;
    object-fit: contain;
}

.archive .arch .archive_link .gitlink{
    width: 80%;
    display: flex;
    align-items: center;
    font-family: "Noto Sans KR";
    margin-bottom: 1rem;
    font-size: 1.3rem;
    color: #05b2b5;
}

.archive_link .archive_direction{
    font-family: "Noto Sans KR";
    width: 80%;
    font-size: .8rem;
}


/* 프로젝트 */
.project_inside{
    width: 100%;
    max-width: 71.25rem;
    padding: 4rem 1.5rem;
    margin: 0 auto;
}

.project_inside .project_header{
    position: relative;
    display: table;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.project_inside .project_header h3{
    font-family: "Noto Sans KR";
    font-size: 3rem;
    border-bottom: 1px solid #000;
}

.project_inside .project_detail{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.project_detail .project_detail_box{
    display: flex;
    flex-direction: column;
    width: calc((100% - 2rem)/2);
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 .5rem 0 rgba(68, 68, 68, .4);
    border-radius: 1rem;
}

.project_detail .project_detail_box .ProjectDetail_name{
    align-self: flex-start;
    padding: .25rem .75rem;
    margin-bottom: .5rem;
    background-color: #f94148;
    border-radius: .5rem;
    font-weight: 700;
    font-family: "Noto Sans KR";
    color: #fff;
}

.project_detail .project_detail_box .ProjectDetail_period{
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid #ccc;
    font-size: .875rem;
    font-family: "Noto Sans KR";
    color: #6c757d;
}

.project_detail .project_detail_box .ProjectDetail_intro{
    word-break: keep-all;
}

.project_detail .project_detail_box .ProjectDetail_intro .ProjectDetail_title{
    margin-bottom: .5rem;
    font-weight: 700;
}

.project_detail .project_detail_box .ProjectDetail_intro .ProjectDetail_details{
    list-style: disc;
    padding-left: 1.25rem;
    font-size: .875rem;
}

.project_detail .project_detail_box .ProjectDetail_url{
    padding-left: .75rem;
    margin-top: 1rem;
    border-left: 4px solid #258ddb;
    word-break: break-all;
}

.project_detail .project_detail_box .ProjectDetail_url a{
    color: #258ddb;
}

.project_detail .project_detail_box .ProjectDetail_skill{
    align-self: flex-start;
    padding: .25rem .75rem;
    margin-top: 1rem;
    background-color: rgba(249, 197, 29, .2);
    border: 1px solid #f9c51d;
    border-radius: .5rem;
    font-size: .875rem;
}

.project_detail .project_detail_box .ProjectDetail_button_container{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin-top: 1rem;
}

.project_detail .project_detail_box .ProjectDetail_button_container .ProjectDetail_show_readme{
  display: flex;
  align-items: center;
  align-self: flex-start;
  column-gap: .25rem;
  padding: .25rem .75rem;
  border: 1px solid #ccc;
  border-radius: .5rem;
  font-weight: 500;
  font-size: .875rem;
  outline: none;
}

.ProjectDetail_show_readme:hover{
    cursor: pointer;
}

.project_detail .project_detail_box .ProjectDetail_button_container .ProjectDetail_show_readme img{
    width: 16px;
    height: 16px;
}

/* 케리어 */
/* .career .career_inside{
    width: 100%;
    max-width: 71.25rem;
    padding: 4rem 1.5rem;
    margin: 0 auto;
}

.career .career_inside .career_header{
    position: relative;
    display: table;
    margin: 0 auto 3rem;
}

.career_header h3{
    font-size: 3rem;
    border-bottom: 1px solid #000;
}

.career .career_body{
    display: flex;
    flex-direction: column;
} */


/* 풋터 */
footer{
    padding: 3rem 0;
    background-color: #222;
    font-size: .9rem;
    color: #f5f5f5;
    text-align: center;
}


/* 팝업 */
.modal_pop{
    --bs-backdrop-zindex: 1050;
    --bs-backdrop-bg: #000;
    --bs-backdrop-opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: var(--bs-backdrop-zindex);
    background-color: var(--bs-backdrop-bg);
    opacity: var(--bs-backdrop-opacity);
    display: none;
}
.project_popup{
    --bs-modal-margin: 1.75rem;
    --bs-modal-box-shadow: var(--bs-box-shadow);
    --bs-modal-zindex: 1055;
    --bs-modal-padding: 1rem;
    --bs-modal-margin: 0.5rem;
    --bs-modal-color: ;
    --bs-modal-bg: #fff;
    --bs-modal-border-color: rgba(0,0,0,.175);
    --bs-modal-border-width: 1px;
    --bs-modal-border-radius: .5rem;
    /* --bs-modal-box-shadow: var(--bs-box-shadow-sm); */
    --bs-modal-inner-border-radius: calc(0.5rem - 1px);
    --bs-modal-header-padding-x: 1rem;
    --bs-modal-header-padding-y: 1rem;
    --bs-modal-header-padding: 1rem 1rem;
    --bs-modal-header-border-color: #dee2e6;
    --bs-modal-header-border-width: 1px;
    --bs-modal-title-line-height: 1.5;
    --bs-modal-footer-gap: 0.5rem;
    --bs-modal-footer-bg: ;
    --bs-modal-footer-border-color: #dee2e6;
    --bs-modal-footer-border-width: 1px;
    --bs-modal-width: 500px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-modal-zindex);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    display: none;
    padding-left: 17px;
}

.project_popup .popup{
    transform: none;
}

@media (min-width: 800px) {
    .popup{
        --bs-modal-width: 800px;
    }
}

.popup{
    display: flex;
    align-items: center;
    min-height: calc(100% - var(--bs-modal-margin) * 2);
    position: relative;
    width: auto;
    margin: var(--bs-modal-margin);
    pointer-events: none;
    max-width: var(--bs-modal-width);
    margin-right: auto;
    margin-left: auto;
}

.popup_box{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: 0.5rem;
    outline: 0;
}

.popup_box .popup_header{
    margin-bottom: 0;
    background-color: #222;
    font-weight: 700;
    color: #fff;
}


.popup_header{
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: var(--bs-modal-header-padding);
    border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
    border-top-left-radius: var(--bs-modal-inner-border-radius);
    border-top-right-radius: var(--bs-modal-inner-border-radius);
}

.popup_header .btn_close{
    padding: calc(var(--bs-modal-header-padding-y) * .5) calc(var(--bs-modal-header-padding-x) * .5);
    margin: calc(-.5 * var(--bs-modal-header-padding-y)) calc(-.5 * var(--bs-modal-header-padding-x)) calc(-.5 * var(--bs-modal-header-padding-y)) auto;
}

.popup_body{
    position: relative;
    flex: 1 1 auto;
    padding: var(--bs-modal-padding);
}

@media (min-width: 1400px){
    .markdown-body{
        max-width: 1320px;
    }
}

.markdown-body{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-left: auto;
    margin-right: auto;
}

.popup_box .markdown-body h1{
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #ccc;
    font-weight: 700;
    font-size: 1.5rem;
}

.popup_box .markdown-body h6{
    margin-bottom: .85rem;
    font-weight: 500;
    font-size: .85rem;
}

.popup_box .markdown-body h2{
    margin-bottom: 1.25rem;
    font-weight: 700;
    font-size: 1.25rem;
}

.popup_box .markdown-body p img{
    width: 100%;
    object-fit: cover;
}

.popup_box .markdown-body a{
    word-break: break-all;
    color: rgba(13, 110, 253, 1);
    text-decoration: underline; 
}

.popup_box .markdown-body ul{
    list-style: disc;
    padding-left: 1.25rem;
    margin-bottom: 1rem;
}

blockquote{
    margin: 0 0 1rem;
}

.popup_box .markdown-body blockquote{
    padding: .25rem 0 .25rem 1rem;
    margin-bottom: 1rem;
    border-left: .25rem solid #6c757d;
    color: #6c755d;
}

.btn_close{
    --bs-btn-close-color: #000;
    --bs-btn-close-bg: url("../img/close_btn.svg");
    --bs-btn-close-opacity: 0.5;
    --bs-btn-close-hover-opacity: 0.75;
    --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
    --bs-btn-close-focus-opacity: 1;
    --bs-btn-close-disabled-opacity: 0.25;
    --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: .25em;
    background: transparent var(--bs-btn-close-bg) center/1em auto no-repeat;
    border: 0;
    border-radius: .375rem;
    opacity: var(--bs-btn-close-opacity);
    filter: var(--bs-btn-close-white-filter);
}   

.btn_close:hover{
    cursor: pointer;
}

.hidden1{
    display: none;
}

.scollLock{
    overflow: hidden;
}


